Embarcados/Programação Node-Red/Node-Red-SérgioLin.json
[{"id":"c6d3bf6e.d1785","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cee89a54.2a50b8","type":"ui_gauge","z":"c6d3bf6e.d1785","name":"","group":"401eae47.8cc5c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura Atual ","label":"Celsus","format":"{{value}}","min":"-40","max":"80","colors":["#006894","#01cb08","#dc1e1e"],"seg1":"0","seg2":"30","x":270,"y":820,"wires":[]},{"id":"d72bd549.51a238","type":"ui_gauge","z":"c6d3bf6e.d1785","name":"","group":"44f1c435.84f1ac","order":1,"width":0,"height":0,"gtype":"gage","title":"Umidade Atual ","label":"%UR","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#00e6b8","#041d67"],"seg1":"33,33","seg2":"66,66","x":140,"y":500,"wires":[]},{"id":"2d6567b6.03cdc8","type":"Stackhero-MySQL","z":"c6d3bf6e.d1785","server":"f2a4e58d.b1d888","name":"","x":170,"y":180,"wires":[[]]},{"id":"d2cda4cf.61bc98","type":"mqtt out","z":"c6d3bf6e.d1785","name":"","topic":"ESP32/LED/AR","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61ec816f.ce213","x":900,"y":740,"wires":[]},{"id":"cb06044a.6b6be8","type":"mqtt out","z":"c6d3bf6e.d1785","name":"","topic":"ESP32/LED/UMI","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61ec816f.ce213","x":910,"y":420,"wires":[]},{"id":"4fe24ae0.17b374","type":"mqtt in","z":"c6d3bf6e.d1785","name":"","topic":"ESP32/UMI","qos":"2","datatype":"auto","broker":"61ec816f.ce213","nl":false,"rap":true,"rh":0,"x":90,"y":420,"wires":[["d72bd549.51a238","413a0eac.2d98d"]]},{"id":"d1fae925.b92a98","type":"mqtt in","z":"c6d3bf6e.d1785","name":"","topic":"ESP32/TEMP","qos":"2","datatype":"auto","broker":"61ec816f.ce213","nl":false,"rap":true,"rh":0,"x":110,"y":740,"wires":[["cee89a54.2a50b8","b29d5c9e.43a3c"]]},{"id":"413a0eac.2d98d","type":"function","z":"c6d3bf6e.d1785","name":"","func":"msg.payload = Number(msg.payload);\nvar led;\nif (msg.payload <= 45){\n    led = 1;\n}\nif(msg.payload >= 75){\n    led = 0;\n}\nmsg = { \n    payload:led\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":420,"wires":[["cb06044a.6b6be8"]]},{"id":"b29d5c9e.43a3c","type":"function","z":"c6d3bf6e.d1785","name":"","func":"msg.payload = Number(msg.payload);\nvar led;\nif (msg.payload <= 22){\n    led = 1;\n}\nif(msg.payload >= 26){\n    led = 0;\n}\nmsg = { \n    payload:led\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":740,"wires":[["d2cda4cf.61bc98"]]},{"id":"c10021bb.c5c21","type":"ui_slider","z":"c6d3bf6e.d1785","name":"","label":"Temperatura Máxima Desejada","tooltip":"","group":"e503abec.da9898","order":3,"width":8,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"13","max":"30","step":1,"x":550,"y":680,"wires":[["b3d5d54e.e239f8","833414b5.698248"]]},{"id":"fdaadd0e.b08c5","type":"ui_slider","z":"c6d3bf6e.d1785","name":"","label":"Temperatura Mínima Desejada","tooltip":"","group":"e503abec.da9898","order":5,"width":8,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"13","max":"30","step":1,"x":550,"y":820,"wires":[["29f7018d.7f87ae","9836ac82.bd361"]]},{"id":"b3d5d54e.e239f8","type":"ui_text","z":"c6d3bf6e.d1785","group":"e503abec.da9898","order":4,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":680,"wires":[]},{"id":"29f7018d.7f87ae","type":"ui_text","z":"c6d3bf6e.d1785","group":"e503abec.da9898","order":6,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":820,"wires":[]},{"id":"969685a1.463148","type":"ui_slider","z":"c6d3bf6e.d1785","name":"","label":"Umidade Máxima Desejada","tooltip":"","group":"fc053836.260498","order":3,"width":8,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"0","max":"100","step":1,"x":400,"y":300,"wires":[["9a970556.d773b8","43748b07.d90794"]]},{"id":"be7fa34e.b2a43","type":"ui_slider","z":"c6d3bf6e.d1785","name":"","label":"Umidade Mínima Desejada","tooltip":"","group":"fc053836.260498","order":5,"width":8,"height":1,"passthru":true,"outs":"all","topic":"topic/Min","topicType":"msg","min":"0","max":"100","step":1,"x":400,"y":520,"wires":[["4c4652d2.1186dc","370ce651.be6d8a"]]},{"id":"9a970556.d773b8","type":"ui_text","z":"c6d3bf6e.d1785","group":"fc053836.260498","order":4,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":300,"wires":[]},{"id":"4c4652d2.1186dc","type":"ui_text","z":"c6d3bf6e.d1785","group":"fc053836.260498","order":6,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":520,"wires":[]},{"id":"bcbabfd2.8aa03","type":"ui_switch","z":"c6d3bf6e.d1785","name":"","label":"Ligar/Desligar Manualmente","tooltip":"","group":"e503abec.da9898","order":1,"width":10,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":360,"y":920,"wires":[["e4fa205b.a5022"]]},{"id":"6c849ffe.cafcb","type":"ui_switch","z":"c6d3bf6e.d1785","name":"","label":"Ligar/Desligar Manualmente","tooltip":"","group":"fc053836.260498","order":1,"width":10,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":360,"y":1060,"wires":[["2a42eac3.60b826"]]},{"id":"2a42eac3.60b826","type":"mqtt out","z":"c6d3bf6e.d1785","name":"","topic":"UMI/Manual","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61ec816f.ce213","x":600,"y":1060,"wires":[]},{"id":"e4fa205b.a5022","type":"mqtt out","z":"c6d3bf6e.d1785","name":"","topic":"TEMP/Manual","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61ec816f.ce213","x":650,"y":920,"wires":[]},{"id":"43748b07.d90794","type":"mqtt out","z":"c6d3bf6e.d1785","name":"","topic":"ESP32/UMI/MAX","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61ec816f.ce213","x":620,"y":360,"wires":[]},{"id":"370ce651.be6d8a","type":"mqtt out","z":"c6d3bf6e.d1785","name":"","topic":"ESP32/UMI/MIN","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61ec816f.ce213","x":630,"y":580,"wires":[]},{"id":"9836ac82.bd361","type":"mqtt out","z":"c6d3bf6e.d1785","name":"","topic":"ESP32/TEMP/MIN","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61ec816f.ce213","x":800,"y":880,"wires":[]},{"id":"833414b5.698248","type":"mqtt out","z":"c6d3bf6e.d1785","name":"","topic":"ESP32/TEMP/MAX","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61ec816f.ce213","x":810,"y":620,"wires":[]},{"id":"f5318a3a.f95638","type":"ui_led","z":"c6d3bf6e.d1785","order":2,"group":"e503abec.da9898","width":10,"height":1,"label":"Ar-Condicionado Ligado/Desligado","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#00aaff","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":530,"y":1000,"wires":[]},{"id":"7228c949.ca8648","type":"ui_led","z":"c6d3bf6e.d1785","order":2,"group":"fc053836.260498","width":10,"height":1,"label":"Umidificador Ligado/Desligado","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#0088ff","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":510,"y":1200,"wires":[]},{"id":"beead1de.cbb51","type":"mqtt in","z":"c6d3bf6e.d1785","name":"","topic":"LED/TEMP","qos":"2","datatype":"auto","broker":"61ec816f.ce213","nl":false,"rap":true,"rh":0,"x":200,"y":1000,"wires":[["e0949fe.a56fe6"]]},{"id":"9c58f10e.db764","type":"mqtt in","z":"c6d3bf6e.d1785","name":"","topic":"LED/UMI","qos":"2","datatype":"auto","broker":"61ec816f.ce213","nl":false,"rap":true,"rh":0,"x":210,"y":1200,"wires":[["e81b10e2.056cb"]]},{"id":"e81b10e2.056cb","type":"function","z":"c6d3bf6e.d1785","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1200,"wires":[["7228c949.ca8648"]]},{"id":"e0949fe.a56fe6","type":"function","z":"c6d3bf6e.d1785","name":"","func":"if (msg.payload == \"0.00\"){\n    msg.payload = 0;\n}\nelse {\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1000,"wires":[["f5318a3a.f95638"]]},{"id":"401eae47.8cc5c","type":"ui_group","name":"Temperatura ","tab":"332f247a.86751c","order":2,"disp":true,"width":10,"collapse":false},{"id":"44f1c435.84f1ac","type":"ui_group","name":"Umidade","tab":"332f247a.86751c","order":3,"disp":true,"width":10,"collapse":false},{"id":"f2a4e58d.b1d888","type":"Stackhero-MySQL-Server","name":"","host":"localhost","port":"3306","tls":false,"database":"Meterologia"},{"id":"61ec816f.ce213","type":"mqtt-broker","name":"","broker":"meterologia.duckdns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e503abec.da9898","type":"ui_group","name":"Ar Condicionado","tab":"332f247a.86751c","order":1,"disp":true,"width":"10","collapse":false},{"id":"fc053836.260498","type":"ui_group","name":"Umidificador","tab":"332f247a.86751c","order":1,"disp":true,"width":"10","collapse":false},{"id":"332f247a.86751c","type":"ui_tab","name":"Estação De Controle Climático","icon":"dashboard","disabled":false,"hidden":false}]